<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oakkub.chat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.oakkub.chat.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.oakkub.chat.permission.C2D_MESSAGE" />

    <application
        android:name=".managers.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="46296a6769626e89a1377ceda3997ea9d2c1f00a" />

        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" -->
        <activity xmlns:tools="http://schemas.android.com/tools"
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/ThemeNoDisplay"
            tools:replace="android:theme" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.GoogleLoginActivity" />
        <activity android:name=".activities.FacebookLoginActivity" />
        <activity android:name=".activities.AuthenticationActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.SplashScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SplashScreenActivity" />
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:parentActivityName=".activities.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.AddFriendActivity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SearchFriendRequestActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.AddFriendActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AddFriendActivity" />
        </activity>
        <activity
            android:name=".activities.FriendDetailActivity"
            android:theme="@style/AppTheme.NoActionBar.DialogActivity" />

        <service android:name=".activities.GoogleLoginActivity$GetGoogleTokenService" />

        <activity
            android:name=".activities.ChatRoomActivity"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.NewMessagesActivity"
            android:label="@string/new_messages"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oakkub.chat.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.RoomEditActivity"
            android:parentActivityName=".activities.RoomInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RoomInfoActivity" />
        </activity>
        <activity
            android:name=".activities.GroupDetailDialogActivity"
            android:theme="@style/AppTheme.NoActionBar.DialogActivity" />
        <activity
            android:name=".activities.PublicDetailDialogActivity"
            android:theme="@style/AppTheme.NoActionBar.DialogActivity" />
        <activity android:name=".activities.RoomInfoActivity" />
        <activity android:name=".activities.RoomMemberActivity" />
        <activity
            android:name=".activities.NewPublicChatActivity"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.FindPublicChatActivity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MemberManagerActivity"
            android:parentActivityName=".activities.RoomInfoActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RoomInfoActivity" />
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <service android:name=".services.FriendRequestActionService" />

        <receiver android:name=".broadcast.InternetConnectionChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.oakkub.chat.broadcast.InternetConnectionChangeReceiver.ExplicitCall" />
            </intent-filter>
        </receiver>

        <!-- GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.oakkub.chat" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.GCMNotifyService"
            android:exported="false" />
        <service
            android:name=".services.GCMRegistrationIntentService"
            android:exported="false" />
        <service
            android:name=".services.GCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.GCMInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.oakkub.chat.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

    </application>

</manifest>